#### This is a short Web Scrapping data from HTML tables into a DataFrame using read_html and Beautiful Soup.

### First and must do is to install all necessary library.

In [28]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests # this module helps us to download a web page. 
import pandas as pd # this will help to convert the html into a Dataframe.

In [31]:
url = "https://en.wikipedia.org/wiki/World_population" # this is where we'll get the data
data  = requests.get(url).text # Now we requesting this method to get data from the 'url'.
soup = BeautifulSoup(data,"html.parser") # 
tables = soup.find_all('table')

In [32]:
len(tables) # This will help us know how many tables we've got.

25

### We have 25 tables within the url page, we are only interested in the table named "10 most densely populated countries".

### The below code will look through all 25 tables to find it's position.

In [26]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

5

### Now that we located our table, we'll use pandas to read the html table using Beautifull Soup 'bs4'.

In [39]:
pd.read_html(str(tables[5]), flavor='bs4')

[   Rank      Country  Population  Area (km2)  Density (pop/km2)
 0     1    Singapore     5704000         710               8033
 1     2   Bangladesh   173750000      143998               1207
 2     3    Palestine     5266785        6020                847
 3     4      Lebanon     6856000       10452                656
 4     5       Taiwan    23604000       36193                652
 5     6  South Korea    51781000       99538                520
 6     7       Rwanda    12374000       26338                470
 7     8       Israel     9600000       22072                435
 8     9        Haiti    11578000       27065                428
 9    10  Netherlands    17760000       41526                428]

### And finally, we will convert the html table to a pandas dataframe.

In [40]:
population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]
population_data_read_html

   Rank      Country  Population  Area (km2)  Density (pop/km2)
0     1    Singapore     5704000         710               8033
1     2   Bangladesh   173750000      143998               1207
2     3    Palestine     5266785        6020                847
3     4      Lebanon     6856000       10452                656
4     5       Taiwan    23604000       36193                652
5     6  South Korea    51781000       99538                520
6     7       Rwanda    12374000       26338                470
7     8       Israel     9600000       22072                435
8     9        Haiti    11578000       27065                428
9    10  Netherlands    17760000       41526                428